.heroes {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
  }
  .layer1{
    float: left;
    text-align: center;
    margin-right: -1000px;
  
  }
  .layer2{
    float: left;
    text-align: center;
  }
  body{
    background-image: url(fon/forest_fon.jpg);
  }
  .icon{
    color: azure;
    height: 120px;
    width: 200px;
    background-size: 50%;
    background-repeat: no-repeat;
    animation: none;
  }
